@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: gray;
    font-size: 1.1rem;
    font-family: 'Nunito';
    background-color: rgb(255, 255, 255);
}

.container {
    h6 {
        font-size: 1.2rem;
        margin-left: 15px;
        margin-top: 8px;

        .badge {
            border: 1px solid rgb(38, 38, 238);
            border-radius: 5px;
            background-color: rgb(38, 38, 238);
            color: white;
        }
    }

    p{
        margin: 15px 15px;
    
    }
}

.post { 
    .actions {

        .btn {
            border: 1px solid rgb(38, 38, 238);
            border-radius: 5px;
            background-color: rgb(38, 38, 238);
            color: white;
            width: 90px;
            height: 40px;
            margin: 30px 15px;
        }

    }

    .form{
        width: 1300px;
        height: 40px;
        margin: 10px 15px;
        border-radius: 5px;
    }
}
 hr{
    margin: 0px 14px;
    
 }
.alert-info {
    border: 1px solid rgb(100, 255, 203);
    background-color: rgb(100, 255, 203);
    color: black;
    padding: 5px 5px;
    width: 1300px;
    margin: 0px 20px;
    border-radius: 4px;
}

.copyright{
    margin: 180px 340px;
    a{
        color: blue;
        text-decoration: none;
    }
}